<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="browser.css">
		<script src="browser.js"></script>
	</head>
	<body>
		<div class="center">
			<div id="heading" class="panel convex">
				<h1>pycif Package Browser</h1>
				<p>
					Use the bar below to search through all publically available
					pycif components.
					You can filter by package name and/or tag.
				</p>
				<p>
					Please note, pycif packages, just like all python packages,
					can run arbitrary code on your computer.
				</p>
			</div>
			<div id="searchbar" class="panel convex">
				<input
						type="text"
						class="panel concave input"
						id="search-box"
						placeholder="Search"
						oninput="liveSearch(this.value, '.right', 'search-hide-keyword');"
						></input>

				<select
						id="search-package"
						class="panel concave input"
						oninput="liveSearch(this.value, '.package-name', 'search-hide-package');"
						>
					<option value="">Package</option>
					<option disabled>---</option>
					{% for package in all_packages %}
						<option>{{package}}</option>
					{% endfor %}
				</select>

				<select
						id="search-tags"
						class="panel concave input"
						oninput="liveSearch(this.value, '.tags', 'search-hide-tags');"
						>
					<option value="">Tag</option>
					<option disabled>---</option>
					{% for tag in all_tags %}
						<option>{{tag}}</option>
					{% endfor %}
				</select>
			</div>

			<div id="compos">
				{% for compo in components %}
					<div class="compo-wrap">
						<!--
							compo-wrap keeps the place of the component tile
							in the flexbox while the tile pops out, so that
							the following elements in the flexbox don't
							get chucked around
						-->
						<div class="compo panel convex" id="compo-{{compo.name}}" onclick="toggleExpanded(this);">
							<div class="left panel concave">
								<div class="layerstack">
									<div class="layer-first"></div>
									{% for layer in compo.layers %}
										<div class="layer">
											<div class="layer-inner">
												<div class="layer-image-wrap">
													<!--
													<img
															src='components/{{compo.name}}/layer_{{layer.index}}.svg'
															class='layer-image'
															alt='{{compo.fancy_name}}'>
													-->
													{{layer.image_string}}
												</div>
												<div class="layer-caption">
													{{layer.name}}
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="right">

								<!-- header streches the collapsed tile to fit the title -->
								<div class="header textpanel convex">
									<h4>
										<span class="package-name">{{compo.package_name}} </span>
										<span class="compo-name">{{compo.fancy_name}} </span>
									</h4>
								</div>

								<div class="tags">
									{% for tag in compo.tags %}
										<div class="tag textpanel convex">{{tag}}</div>
									{% endfor %}
								</div>

								<div class="description panel concave">
									<p>
										{{compo.description}}
									</p>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<!--<div class="grid">
			<div class="tile fruit">
				<h2 class="name">Banana</h2>
				<p>Bananas are fruits.</p>
			</div>
			<div class="tile pet">
				<h2 class="name">Dog</h2>
				<p>A dog is an animal.</p>
			</div>
			<div class="tile fruit pet special">
				<h2 class="name">Cherry cat</h2>
				<p>Cherry cats are special!</p>
			</div>
			<div class="tile fruit">
				<h2 class="name">Apple</h2>
				<p>Apples are fruits.</p>
			</div>
		</div>-->
	</body>
	<!--<script src='browser.js'></script>-->
</html>

